@import 'https://fonts.googleapis.com/css?family=Bree+Serif';
@import 'contacto.css';
@import 'envio_formulario.css';
@import 'inicio.css';
@import 'quees.css';
@import 'registro.css';
@import 'resultado.css';
@import 'chat.css';
@import 'json.css';

body {
    font-family: 'Bree Serif', serif;
    background: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100%;
}

.header {
    background-color: black;
    color: white;
    margin: 20px 0px 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    opacity: 0.75;
}

.botones {
    background-color: black;
    text-align: center;
    margin: 0px 0px 20px 0px;
    opacity: 0.75;
}

.nav-tabs {
    background-color: black;
    text-align: center;
    margin: 0px 0px 20px 0px;
    opacity: 0.75;
    color: white;
    background-color: black;
    border-radius: none;
}

.tab-content {
    border: none;
    color: white;
    border-bottom: none;
    text-decoration: none;
}

.nav-tabs>li>a {
    color: white;
    border: 10px;
    border: none !important;
    border-radius: 0px;
}

.nav-tabs>li>a:hover {
    background-color: black;
    border-radius: none;
    border: none;
    transition: all 0.1s linear;
    color: grey;
}
